.venv/
FilenameChanger/rename_rules/rename_rules.json
main.spec
dist
build
filenamechanger.egg-info
FilenameChanger/logs
FilenameChanger/test.py
FilenameChanger/rename_history
PyQt_Fluent_Widgets_PyQt6/
app/